.container
{
display: flex;
flex-direction: column;
align-items: center;
height: 80vh;
justify-content: center;
}
.loginform{
    width: 400px;
    border-radius: 10px;
    border: solid rgb(255, 255, 255) 3px;
    padding: 10px;
}
.Authbtns{
    display: flex;
    flex-direction: column;
    align-items: center;
    
}
.forgotpassword,.SignUp{
    cursor: pointer;
    text-decoration: underline;
    margin-bottom: 5px;
}
p{
    color: red;
    font-size: 12px;
}

.btn-primary
{
    background-color:  #4F37E9;
    border-radius: 10px;
}
.btn:hover{
    background-color:  #4F37E9;
    opacity: 0.9;
}
h3{
    color: #38383D;
}